@font-face {
	font-family:41107_WeissRunD;
	font-display:swap;
	src:url("../fonts/41107_WeissRunD.woff2") format("woff2"),url("../fonts/41107_WeissRunD");
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family:BriosoPro Italic;
	font-display:swap;
	src:url("../fonts/BriosoPro Italic.woff2") format("woff2"),url("../fonts/BriosoPro Italic");
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family:41107_WeissRunD;
	font-display:swap;
	src:url("../fonts/41107_WeissRunD.woff2") format("woff2"),url("../fonts/41107_WeissRunD");
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family:BriosoPro Italic;
	font-display:swap;
	src:url("../fonts/BriosoPro Italic.woff2") format("woff2"),url("../fonts/BriosoPro Italic");
	font-weight:400;
	font-style:normal
}
